[Unit]
Description=main
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/smm/
ExecStart=/usr/bin/python3 /root/smm/main.py
RestartSec=30
Restart=always
 
[Install]
WantedBy=multi-user.target